@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap");
body {
  font-family: "Barlow", sans-serif;
}
.container {
  width: calc(100% - 20px);
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: calc(100% - 80px);
  }
}
@media (min-width: 1024px) {
  .container {
    width: calc(100% - 100px);
  }
}
